
.ipynb_checkpoints/Lab 3 - Edges-checkpoint.ipynb

.ipynb_checkpoints/Lab 4 - Feature Descriptor-checkpoint.ipynb

assets/current_bg.jpg

assets/faceimage.jpg

assets/static_bg.jpg

Lab 3 - Edges.ipynb

faceimage.jpg
